<div fxLayout="column" fxLayoutAlign="space-between" style="height: 100vh;">
    <div>
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>