<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/home">
        <img class="mha-logo" [src]="'/assets/logo-yellow.png'" height="48px" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/battles">Combats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/heroes">Mes héros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop">Shop</a>
            </li>
        </ul>
        <div class="btn-group ml-auto">
            <button type="button" class="btn btn-outline-primary" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{user['user_username']}}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Profil</a>
                <a class="dropdown-item" href="#" (click)="logout()">Deconnexion</a>
            </div>
        </div>
    </div>
</nav>