<div class="card m-5" style="width: 18rem;">
    <div class="card-img-top">
        <img
        [ngClass]="{grayscaled: hero['owned']}"
        [src]="hero.hero_avatar ? this.sanitizer.bypassSecurityTrustResourceUrl('data:image/jpeg;base64,'
        + hero.hero_avatar) : '/assets/unnamed.png'" height="320" width="286" >
        <div fxLayout="row" *ngIf="hero['owned']" fxLayoutAlign="center center" class="caption" style="font-size: 1.5em; color: white;">
            D&#201;J&#192; POSS&#201;D&#201;
        </div>
    </div>
    <div class="card-body">
      <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="hero.hero_price"><h2>{{hero.hero_name}}</h2>

        <button mat-icon-button placement="top" *ngIf="!hero['owned']"
        [ngbPopover]="popContent1" [popoverTitle]="'Acheter ' + hero.hero_name + ' ?'" type="button">
            <mat-icon>shopping_cart</mat-icon>
        </button>
            <ng-template #popContent1>
                <div *ngIf="hero.hero_price <= userService.userCredits">
                    <button class="btn btn-outline-secondary">
                        Annuler
                    </button>
                    <button (click)="buyHero(hero.hero_uuid)" class="btn btn-outline-success">
                        Acheter
                    </button>
                </div>
                <div *ngIf="hero.hero_price > userService.userCredits" style="color: darkred;">
                    Pas assez de crédits
                </div>
            </ng-template>



    </div>
      <h2 *ngIf="!hero.hero_price">{{hero.hero_name}}</h2>
        <div fxLayout="column">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p fxLayout="row" fxLayoutAlign="flex-start center" *ngIf="hero.hero_price">Prix: {{hero.hero_price}} &nbsp;<mat-icon style="color: peru">toll</mat-icon></p>
                    <p>Alter ego : {{hero.hero_realname}}</p>
                </li>
                <li class="list-group-item">
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <p>Niveau : {{hero.hero_lvl}}</p>
                        <p>Vie: {{hero.hero_health}}</p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <p>Force: {{hero.hero_strength}}</p>
                        <p>Energie: {{hero.hero_energy}}</p>
                    </div>
                </li>
                <li *ngIf="hero['collapsed']" class="list-group-item">
                    <div class="mha-clic" (click)="hero.collapsed = false" fxLayout="row" fxLayoutAlign="center">
                        <mat-icon style="font-size: 32px;">keyboard_arrow_down</mat-icon>
                    </div>
                </li>
                <li class="list-group-item" *ngIf="hero['collapsed'] === false">
                    <h4>Pouvoirs</h4>
                    <div fxLayout="row" fxLayoutAlign="space-between">

                        <button placement="top"
                        [ngbPopover]="popContent1" [popoverTitle]="hero.hero_powers[0].power_name" *ngIf="hero.hero_powers[0]" type="button" class="btn btn-outline-primary">{{hero.hero_powers[0].power_name}}</button>
                        <ng-template #popContent1>
                            <div>Intensité : {{hero.hero_powers[0]?.power_intensity}}</div>
                            <div>Cout énergie : {{hero.hero_powers[0]?.power_energy_cost}}</div>
                        </ng-template>

                        <button placement="top"
                        [ngbPopover]="popContent2" [popoverTitle]="hero.hero_powers[1].power_name" *ngIf="hero.hero_powers[1]" type="button" class="btn btn-outline-primary">{{hero.hero_powers[1].power_name}}</button>
                        <ng-template #popContent2>
                            <div>Intensité : {{hero.hero_powers[1]?.power_intensity}}</div>
                            <div>Cout énergie : {{hero.hero_powers[1]?.power_energy_cost}}</div>
                        </ng-template>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        
                        <button placement="top"
                        [ngbPopover]="popContent3" [popoverTitle]="hero.hero_powers[2].power_name" *ngIf="hero.hero_powers[2]" type="button" class="btn btn-outline-primary">{{hero.hero_powers[2].power_name}}</button>
                        <ng-template #popContent3>
                            <div>Intensité : {{hero.hero_powers[2]?.power_intensity}}</div>
                            <div>Cout énergie : {{hero.hero_powers[2]?.power_energy_cost}}</div>
                        </ng-template>

                        <button placement="top"
                        [ngbPopover]="popContent4" [popoverTitle]="hero.hero_powers[3].power_name" *ngIf="hero.hero_powers[3]" type="button" class="btn btn-outline-primary">{{hero.hero_powers[3].power_name}}</button>
                        <ng-template #popContent4>
                            <div>Intensité : {{hero.hero_powers[3]?.power_intensity}}</div>
                            <div>Cout énergie : {{hero.hero_powers[3]?.power_energy_cost}}</div>
                        </ng-template>
                    </div>
                    <div class="mha-clic" (click)="hero.collapsed = true" fxLayout="row" fxLayoutAlign="center">
                        <mat-icon style="font-size: 32px;">keyboard_arrow_up</mat-icon>
                    </div>
                </li>
            </ul>
            
            <p></p>
        </div>
      
    </div>
  </div>