.mha-clic:hover {
    cursor: pointer;
}

.grayscaled {
    filter: grayscale(100%);
}

.caption {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0, 0.6);
    height: 40px;
}