.mha-topbar {
    padding: 10px;
    background: rgba(#e9e2e4, 0.7);
    transition: all 0.5s ease-in-out;
}

.mha-background {
    height: 100vh;
    padding: 0;
}

//collapsed
.collapsed {
    background-image: url('/assets/background-1-xl.jpg');
    transition: all 0.5s ease-in-out;
}

//Expanded
.expanded {
    background-image: url('/assets/background-2-xl.jpg');
    transition: all 0.5s ease-in-out;
}

.expanded .mha-topbar {
    padding-bottom: calc(100vh - 58px);
    transition: all 0.5s ease-in-out;
}

.mha-logo {
    transition: all 0.5s ease-in-out;
}

.mha-input {
    width: 70%;
}