<div class="container-fluid mha-background" [ngClass]="(!collapsed || forcedExpanded) ? 'expanded' : 'collapsed'"
    fxLayout="column" fxLayoutAlign="space-between">
    <div class="mha-topbar" fxLayout="row" fxLayoutAlign="space-between center">
        <img class="mha-logo"
            [src]="(!collapsed || forcedExpanded) ?'/assets/logo-blue.png' : '/assets/logo-yellow.png'" height="48px" />
        <div>
            <button class="btn btn-outline-primary mr-5" (click)="forcedExpanded = true; openRegisterModal()"
                (mouseover)="collapsed = false" (mouseout)="collapsed = true">S'inscrire</button>
            <button class="btn btn-outline-success" (click)="forcedExpanded = true; openLoginModal()" (mouseover)="collapsed = false"
                (mouseout)="collapsed = true" >Se connecter</button>
        </div>
    </div>
    <div>

    </div>
</div>