<!-- <div *ngIf="battle" class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="battle.user_1.hero_avatar ? this.sanitizer.bypassSecurityTrustResourceUrl('data:image/jpeg;base64,'
        + battle.user_1.hero_avatar) : '/assets/unnamed.png'" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-4">
        <img [src]="battle.ia.hero_avatar ? this.sanitizer.bypassSecurityTrustResourceUrl('data:image/jpeg;base64,'
        + battle.ia.hero_avatar) : '/assets/unnamed.png'" class="card-img">
      </div>
    </div>
  </div> -->

<div class="mha-card" fxLayout="row" fxLayoutAlign="space-between center" (click)="resume = true">
  <img style="width: 25%" [src]="battle.user_1.hero_avatar ? this.sanitizer.bypassSecurityTrustResourceUrl('data:image/jpeg;base64,'
        + battle.user_1.hero_avatar) : '/assets/unnamed.png'" class="card-img">

  <div style="width: 50%" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="pl-5" style="width: 33%;">
      <p><strong>Joueur =></strong> {{battle.user_1.user_username}}</p>
      <p><strong>Heros =></strong> {{battle.user_1.hero_name}}</p>
      <p><strong>Niveau =></strong> {{battle.user_1.hero_lvl}}</p>
      <p><strong>Vie restante =></strong> {{battle.user_1.hero_health}} HP</p>
    </div>
    <img style="width: 33%;" src="/assets/vs_logo.png" >
    <div class="pr-5" style="width: 33%; text-align: right;">
      <p>{{battle.ia.user_username}} (IA)<strong> <= Joueur</strong></p>
      <p>{{battle.ia.hero_name}}<strong> <= Heros</strong></p>
      <p>{{battle.ia.hero_lvl}}<strong> <= Niveau</strong></p>
      <p>{{battle.ia.hero_health}} HP<strong> <=Vie restante</strong></p>
    </div>
  </div>

  <img style="width: 25%" [src]="battle.ia.hero_avatar ? this.sanitizer.bypassSecurityTrustResourceUrl('data:image/jpeg;base64,'
        + battle.ia.hero_avatar) : '/assets/unnamed.png'" class="card-img">
  <div *ngIf="this.resume === true" class="resumeConfirm" fxLayout="row" fxLayoutAlign="center center">
    <button class="btn btn-secondary mr-5" (click)="cancelResume()">Annuler</button>
    <button class="btn btn-success" (click)="resumeBattle()">Reprendre</button>
  </div>
</div>