.mha-card {
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    height:  20vh;
    min-height: 80px;
    max-height: 300px;
    overflow:hidden;
    width: 70vw;
    border: 1px solid black;
}

.resumeConfirm {
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    height:  20vh;
    width: 70vw;
    min-height: 80px;
    max-height: 300px;
    background: rgba(darkred, 0.4);
    position: absolute;
}