<nav class="navbar navbar-light" style="background-color: #FCF4E3;">
   <a class="navbar-brand" href="#">Mes héros</a>
 </nav>

<div fxLayout="row" style="padding: 20px">
   <app-hero-carousel [heroes]="heroes"></app-hero-carousel>
</div>