<div class="container p-3" style="height: 100%;" *ngIf="battle">

    <!-- Adversaire -->
    <div fxLayout="row" fxLayoutAlign="flex-end" style="max-height: 25%;">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body" style="height: 100%;" fxLayout="column" fxLayoutAlign="space-between">
                        <div fxLayout="row" fxLayoutAlign="space-between" class="mha-arcade" style="font-size: 2em;">
                            <span>{{battle.ia.hero_name}}</span>
                            <span>{{battle.ia.user_username}} (IA)</span>
                        </div>
                        <div class="mha-arcade" style="font-size: 2em;">NIVEAU : {{battle.ia.hero_lvl}}</div>
                        <div class="mha-arcade" style="font-size: 2em;">Vie : {{battle.ia.hero_health}} HP</div>
                        <div class="mha-arcade" style="font-size: 2em;">ENERGIE : {{battle.ia.hero_energy}}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img [ngClass]="{grayscaled: ia_hero_dead}" [src]="battle.ia.hero_avatar ? this.sanitizer.bypassSecurityTrustResourceUrl('data:image/jpeg;base64,'
            + battle.ia.hero_avatar) : '/assets/unnamed.png'" class="card-img">
                </div>
            </div>
        </div>
    </div>


    <!--User_1-->
    <div class="mt-4 mb-4" fxLayout="row" fxLayoutAlign="flex-start" style="max-height: 25%;">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img [ngClass]="{grayscaled: user_1_hero_dead}" [src]="battle.user_1.hero_avatar ? this.sanitizer.bypassSecurityTrustResourceUrl('data:image/jpeg;base64,'
            + battle.user_1.hero_avatar) : '/assets/unnamed.png'" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="height: 100%;" fxLayout="column" fxLayoutAlign="space-between">
                        <div fxLayout="row" fxLayoutAlign="space-between" class="mha-arcade" style="font-size: 2em;">
                            <span>{{battle.user_1.hero_name}}</span>
                            <span>{{battle.user_1.user_username}}</span>
                        </div>
                        <div class="mha-arcade" style="font-size: 2em;">NIVEAU : {{battle.user_1.hero_lvl}}</div>
                        <div class="mha-arcade" style="font-size: 2em;">Vie : {{battle.user_1.hero_health}} HP</div>
                        <div class="mha-arcade" style="font-size: 2em;">ENERGIE : {{battle.user_1.hero_energy}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Panel -->
    <div fxLayout="row" fxLayoutAlign="space-between" style="height: 40%;">
        <!--Attacks-->
        <div style="width: 35%;" class="lvl4 mha-arcade">
            <div *ngIf="your_turn">
                <p style="font-size: 3em;">Pouvoirs</p>
                <br>
                <div *ngFor="let power of battle.user_1.powers" (click)="user_attack(power)" class="pt-2 pb-2 mha-click"><p style="font-size: 2.5em;" *ngIf="power.power_uuid">{{power.power_name}}&nbsp; &nbsp; &nbsp;E{{power.power_energy_cost}} &nbsp; &nbsp; I{{power.power_intensity}}</p></div>
                <br>
                <div style="font-size: 1.2em;">E = Cout&nbsp;&nbsp;energie / I = Intensite</div> 
            </div>
            
        </div>

        <!--Console-->
        <div fxLayout="column" fxLayoutAlign="center center" class="mha-arcade-sm lvl4" style="width: 55%;">
            {{message}}
        </div>
    </div>

</div>