.mha-arcade {
    font-family: arcadefont;    
}

.mha-arcade-sm {
    font-family: arcadesmall;
}

.fancy-border {
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
  }

  $dash-size: 5px;
$theme-color: rgb(73, 73, 73);
$fill-color: beige;

  .box {
	border: $dash-size dashed $theme-color;
	box-shadow: 0 0 0 ($dash-size / 2) darken($theme-color, 20%),
		        inset 0 0 0 ($dash-size / 2) darken($theme-color, 20%);

	text-shadow: 0 2px #fff;
	text-align: center;
}


@mixin step4( $width, $color, $bgcolor ) {
    box-shadow:
      $width 0 $bgcolor,
      -$width 0 $bgcolor,
      0 (-$width) $bgcolor,
      0 $width $bgcolor,
      2*$width 0 $bgcolor,
      -2*$width 0 $bgcolor,
      0 (-2*$width) $bgcolor,
      0 2*$width $bgcolor, 
      0 0 0 $width $bgcolor,
      3*$width 0 $bgcolor,
      -3*$width 0 $bgcolor, 
      0 3*$width $bgcolor,
      0 (-3*$width) $bgcolor,
      0 (-$width) 0 $width $bgcolor,
      0 $width 0 $width $bgcolor,
      $width 0 0 $width $bgcolor,
      -$width 0 0 $width $bgcolor,
      4*$width 0 $color, 
      -4*$width 0 $color,
      0 (-4*$width) $color, 
      0 4*$width $color,
      2*$width 0 0 $width $color,
      -2*$width 0 0 $width $color,
      0 2*$width 0 $width $color,
      0 (-2*$width) 0 $width $color,
      0 0 0 2*$width $color;
      margin: 4*$width auto;
  }

  .lvl4 {
    @include step4( 5px, black, white );
  }

  .mha-click:hover {
      cursor: pointer;
      background: lightgray;
  }

  .grayscaled {
    filter: grayscale(100%);
}