<nav class="navbar navbar-light" style="background-color: #FCF4E3;">
    <a class="navbar-brand" href="#">Shop</a>

    <div fxLayout="row" fxLayoutAlign="center center">Crédits : {{credits}}&nbsp;<mat-icon style="color: peru">toll</mat-icon></div>
</nav>
<app-hero-carousel [heroes]="heroes"></app-hero-carousel>