<div class="container-fluid mha-background collapsed" fxLayout="column" fxLayoutAlign="center center">
    <div class="card">
        <div class="card-body" fxLayout="column" fxLayoutAlign="center center" style="min-height: 150px;">
            {{message}}
        </div>
    </div>
</div>