<h2 mat-dialog-title>{{forgotPwd ? 'Mot de passe oublié' : 'Connexion'}}</h2>
<mat-dialog-content *ngIf="!forgotPwd && !message">
    <div *ngIf="errors && errors.length" class="alert alert-danger">
        <ul>
            <li *ngFor="let error of errors">
                {{error}}
            </li>
        </ul>
    </div>
    <!-- Formulaire -->
    <form id="registerForm" [formGroup]="loginForm" fxLayout="column"
    fxLayoutAlign="space-between center" (ngSubmit)="login()">
    <!-- USERNAME -->
    <mat-form-field class="mha-input">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput required formControlName="user_username" type="text"
            placeholder="Nom d'utilisateur">
    </mat-form-field>

    <!--PASSWORD-->
    <mat-form-field class="mha-input">
        <mat-label>Mot de passe</mat-label>
        <input matInput required formControlName="user_password" type="password"
            placeholder="Mot de passe">
    </mat-form-field>
    <div class="mha-clic" (click)="forgotPwd = true">Mot de passe oublié ?</div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!forgotPwd && !message">
    <button [disabled]="loading" type="button" mat-dialog-close class="btn btn-secondary mr-2">Annuler</button>
    <button [disabled]="loading" class="btn btn-primary" form="registerForm">Connexion</button>
</mat-dialog-actions>

<mat-dialog-content *ngIf="message">
    <p>{{message}}</p>
</mat-dialog-content>

<mat-dialog-content *ngIf="forgotPwd && !message">
    <div>Veuillez indiquer votre adresse email afin de redéfinir votre mot de passe</div>
    <mat-form-field class="mha-input">
        <mat-label>Email</mat-label>
        <input required [(ngModel)]="emailForgotPwd" matInput type="email" placeholder="Email">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="forgotPwd && !message">
    <button [disabled]="loading" mat-dialog-close class="btn btn-secondary mr-2">Annuler</button>
    <button [disabled]="!emailForgotPwd || loading" class="btn btn-primary" (click)="getForgotpwd()">Envoyer</button>
</mat-dialog-actions>