<h2 mat-dialog-title>Inscription</h2>
<mat-dialog-content *ngIf="!message">
    <div *ngIf="errors && errors.length" class="alert alert-danger">
        <ul>
            <li *ngFor="let error of errors">
                {{error}}
            </li>
        </ul>
    </div>
    <!-- Formulaire -->
    <form id="registerForm" [formGroup]="registerForm" fxLayout="column"
    fxLayoutAlign="space-between center" (ngSubmit)="signUp()">
    <!-- USERNAME -->
    <mat-form-field class="mha-input">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput required formControlName="user_username" type="text"
            placeholder="Nom d'utilisateur">
    </mat-form-field>

    <!-- EMAIL -->
    <mat-form-field class="mha-input">
        <mat-label>Email</mat-label>
        <input matInput required formControlName="user_email" type="email" placeholder="email">
    </mat-form-field>

    <!--PASSWORD-->
    <mat-form-field class="mha-input">
        <mat-label>Mot de passe</mat-label>
        <input matInput required formControlName="user_password" type="password"
            placeholder="Mot de passe">
    </mat-form-field>

    <!--CONFIRM PASSWORD-->
    <mat-form-field class="mha-input">
        <mat-label>Répeter mot de passe</mat-label>
        <input matInput required formControlName="user_passwordconf" type="password"
            placeholder="Répéter mot de passe">
    </mat-form-field>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!message">
    <button type="button" mat-dialog-close class="btn btn-secondary mr-2">Annuler</button>
    <button class="btn btn-primary" form="registerForm">S'inscrire</button>
</mat-dialog-actions>

<mat-dialog-content *ngIf="message">
    <p>{{message}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="message">
    <button type="button" mat-dialog-close class="btn btn-success">OK</button>
</mat-dialog-actions>