<div class="container-fluid mha-background collapsed" fxLayout="column" fxLayoutAlign="center center">
    <div class="card">
        <div *ngIf="errors && errors.length" class="alert alert-danger">
            <ul>
                <li *ngFor="let err of errors">
                    {{err}}
                </li>
            </ul>
        </div>
        <div *ngIf="!message" class="card-body" fxLayout="column" fxLayoutAlign="center center">
            <h3 style="margin-left: 10px; margin-right: 10px; font-weight: bold;">Choisissez un nouveau mot de passe</h3>
            <!--PASSWORD-->
            <mat-form-field class="mha-input">
                <mat-label>Mot de passe</mat-label>
                <input matInput required type="password" placeholder="Mot de passe" [(ngModel)]="user_password">
            </mat-form-field>

            <!--CONFIRM PASSWORD-->
            <mat-form-field class="mha-input">
                <mat-label>Répeter mot de passe</mat-label>
                <input matInput required type="password" placeholder="Répéter mot de passe" [(ngModel)]="user_passwordconf">
            </mat-form-field>

            <button class="btn btn-primary" (click)="send()">Sauvegarder</button>
        </div>
        <div *ngIf="message" class="card-body" fxLayout="column" fxLayoutAlign="center center" style="min-height: 150px;">
            {{message}}
        </div>
    </div>
</div>