/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden;}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: "arcadefont";
    src: url('/assets/ARCADECLASSIC.TTF');
}

@font-face {
    font-family: "arcadesmall";
    src: url('/assets/prstart.ttf');
}