<button class="btn btn-success m-2" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Nouveau combat contre une IA
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" *ngFor="let hero of heroes" (click)="createBattle(hero)">{{hero.hero_name + ' N.' + hero.hero_lvl}}</a>
</div>

<mat-expansion-panel [expanded]="battles && battles.length ? true : false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Combats en cours
    </mat-panel-title>
  </mat-expansion-panel-header>

  <app-current [battles]="battles"></app-current>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Historique des combats
    </mat-panel-title>
  </mat-expansion-panel-header>

</mat-expansion-panel>